.blank_page {
	width: 100%;
	align-items: center;
	overflow-x: hidden;
	margin: 0;
	height: 100vh;
}

/*Horizontal Cell Format*/
.grid_page {
    height: 100vh;
    display: grid;
    align-items: center;
}

.page_row {
    width: auto;
    height: 30vh;
    margin: auto 20vw auto 20vw;
    padding: 0 5vw 0 5vw;
	align-items: center;
}
.page_row h3 {
	margin: 0 1rem;
	text-align: left;
}

.page_row img {
	background-color: #000;
	border: solid 1px #fff;
	height: 10.2rem;
	width: 15rem;
	padding: 0.25rem;
	float: right;
	top: 50%;
	transform: translate(0, 0);
}

/*Img Display Format*/
.proj_container {
	display: flex;
	margin: 0;
	justify-content: center;
}

.sub_proj_container {
	min-width: 75vw;
	position: absolute;
	margin: 0;
	justify-content: center;
	align-items: center;
}

.img_row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.img_column{
	margin: 0 1rem;
	flex: 25%;
	max-width: 20%;
	padding: 0 10px;
}

.img_column img{
	margin: 0.75rem 0;
	vertical-align: middle;
	width: 100%;
	border-radius: 1rem;
}

.box {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.details {
	margin: 1.5rem 20vw;
}

/*Image Desc Format*/
.desc_container {
	width: 60vw;
	padding: 5vh 5vw;
	background-color: #dcdcdc;
	margin: 0 auto;
	display: flex;
}
.desc_container h3, .desc_container p {
	margin: 0 auto;
}

.big_frame img {
	height: 20rem;
	width: 15rem;
	border: solid 1px #000;
	padding: 0.25rem;
}
.big_frame {
	height: 20rem;
	width: 15rem;
	background-color: #dcdcdc;
	padding: 2rem;
}
#desc {
	width: auto;
	margin: 0 1.5rem;
}