body {
    background-color: #0c0c0e;
    text-align: center;
    margin: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, serif;
    background-color: transparent;
    color: #fff;
}

h1 {
    font-size: 5rem;
}

h3, a{
    font-size: 2rem;
}

h4{
    font-size: 2.5rem;
    margin: 0 auto;
}

p, i, a {
    background-color: transparent;
    color: #fff;
}

label {
  color: #111;
  background-color: transparent;
}