.contact_page {
    align-items: center;
    width: 70vw;
    height: 70vh;
    display: flex;
    padding: 5vh 5vw;
}

input[type=text], select, textarea, input[type=email] {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #555;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0.5rem 0;
  background-color: #dcdcdc;
  font-size: 0.75rem;
  text-align: left;
}
textarea {
  resize: vertical;
  min-height: 5rem;
  max-height: 10rem;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.card_container {
    width: 50%;
    background-color: #dcdcdc;
    height: 100%;
    padding: 5vh 5vw;
    place-content: center;
}
.card_container p {
    margin-top: 2rem;
}
.card_container a {
    color: black;
    margin: 0.25rem;
}

.contact_container {
  width: 50%;
  background-color: #dcdcdc;
  height: 100%;
  padding: 5vh 5vw;
  place-content: center;
}

form, label {
    background-color: transparent;
    text-align: left;
    font-size: 0.8rem;
}

.divide_text {
    width:47.5%;
    float: left;
    background-color: transparent;
    text-align: left;
}