#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
  height: 7.5vh;
  transition: 0.5s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}


.footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #111;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0; }
.footer-59391 .site-logo {
    color: #fff; }
.footer-59391 .site-logo a {
    font-size: 30px;
    color: #ddd;
    font-weight: 900; }
.footer-59391 .social-icons li {
    display: inline-block; }
.footer-59391 .social-icons li a {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
.footer-59391 .social-icons li a.gg {
    background: #ea4335; }
.footer-59391 .social-icons li a.gh {
    background: #24292e; }
.footer-59391 .social-icons li a.tw {
    background: #00a0fb; }
.footer-59391 .social-icons li a.ld {
    background: #0077b5; }
.footer-59391 .social-icons li a.fb {
    background: #1877f2; }
.footer-59391 .social-icons li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff; }
.footer-59391 .nav-links li {
    display: inline-block; }
.footer-59391 .nav-links li a {
    font-size: 14px;
    color: #777;
    padding: 10px; }
@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0; } }

.footer-59391 .nav-links.nav-right li:last-child a {
    padding-right: 0; }
@media (max-width: 1199.98px) {
    .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0; } }

.footer-59391 .copyright {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    text-align: center;
    color: #777; }