body {
    background-color: #0c0c0e;
    text-align: center;
    margin: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, serif;
    background-color: transparent;
    color: #fff;
}
    h1 {
        font-size: 5rem;}
    h3, a{
        font-size: 2rem;}
    h4{
        font-size: 2.5rem;
        margin: 0 auto;}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

footer {
    display: block;
}

p, i, a {
    background-color: transparent;
    color: #fff;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover {
    text-decoration: underline;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
    outline: 0;
}


label {
    color: #111;
    background-color: transparent;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}